section
  section
    h2.title JSX

  section
    h3.title Definição
    blockquote.fragment.
      É uma sintaxe engraçada, mas não é nem HTML, nem HTML

  section
    h3.title O que é
    ul
      li É uma extensão da sintaxe do Javascript
      li É recomendada a utilização para "descrever" como sua interface vai ser
      li Não é obrigatório

  section
    h3.title Exemplo
    pre
      code.javascript.
        const element = (
          <div>
            <h1>Hello!</h1>
            <h2>Good to see you here.</h2>
          </div>
        );

